.firstLevelMenu {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelMenuList {
	padding: 0;

	list-style: none;
}

.firstLevelMenuActive,
.firstLevelMenu:hover {
	color: var(--primary);
}

.firstLevelMenuActive svg,
.firstLevelMenu:hover svg {
	fill: var(--primary);
}
