html,
body {
	margin: 0;
	padding: 0;

	color: var(--arsenic);
	background: #F5F6F8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

/* https://www.color-name.com/ */
:root {
	--electric-red: #DE0000;
	--gray-x11: #BBB;
	--bright-grey: #EBEBEB;
	--nickel: #6C7077;
	--arsenic: #3B434E;
	--white: #FFF;
	--violets-are-blue: #7653FC;
	--majorelle-blue: #6344DF;
	--gainsboro: #DFDFDF;
	--ucla-blue: #51648C;
	--aero-blue: #C8F8E4;
	--green-crayola: #1DC37E;
	--primary: var(--violets-are-blue);
	--primary-hover: var(--majorelle-blue);
	--text-color: var(--arsenic);
	--caption-color: var(--white);
	--border-color: var(--bright-grey);
	--error-color: var(--electric-red);
	--menu-level-color: var(--nickel);
	--menu-block-border-color: var(--gainsboro);
	--chip-color-red: var(--electric-red);
	--chip-color-grey: var(--ucla-blue);
	--chip-color-green: var(--aero-blue);
	--chip-text-green: var(--green-crayola);
	--font-family: "Noto Sans Display", sans-serif;
}
